:root{
    --B1:#022C43;
    --B2:#053F5E;
    --B3: #115173;
    --Y:#FFD700;
}
*{
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}
.main-box{
    width: 100vw;
    height:100vh;
    background-color: var(--B1);
}
.left-box{
    width: 25%;
    height: 100%;
    background-color: var(--B2);
    position: fixed;
    font-family: 'Oswald', sans-serif;
}
    .left-box .img-space{
        width: 100%;
        height: 35%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0rem;
    }
    .left-box .img-space img{
        width: 17rem;
        height: 17rem;
        border-radius: 50rem;
        border: 5px solid var(--Y);
    }
    .left-box .name-space{
        width: 100%;
        height:10%;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .left-box .name-space p{
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
        font-weight: bolder;
        font-size: 2rem;
    }
    .left-box .menu-space{
        width: 100%;
        height: 20%;
        padding-top:3rem;
    }
    .left-box .menu-space ul li{
        text-indent: 3rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .left-box .menu-space ul li a{
        display: block;
        text-decoration: none;
        color:var(--Y);
        text-shadow: 0px 3px 0px #000000;
    }
    .left-box .menu-space ul li a:hover{
        background-color: var(--Y);
        color:var(--B1);
        text-shadow: none;
    }
.right-box{
    width: 75%;
    height: 100vh;
    float:right;
    background-color: var(--B1);
    font-family: 'Raleway', sans-serif;
}
.right-box .home{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .right-box .home .intro, .educ .intro2{
        width: 75%;
        height: 75%;
        background-color: var(--B2);
        border-radius: 2.5rem;
        border: 5px solid black;
    }
    .right-box .home .intro >p1{
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
        font-weight: bolder;
        font-size: 3rem;
        position: relative;
        top:5%;
        left:5%;
    }
    .right-box .home .intro .info{
        width: 75%;
        position: relative;
        top:10%;
        left:15%;
    }
    .right-box .home .intro .info p1, p2, p3{
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
        font-size: 2.5rem;
    }
    .right-box .home .intro .quote{
        text-align: justify;
        width:80%;
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
        font-size: 2.5rem;
        position: relative;
        top:15%;
        left:10%;
    }
.right-box .educ{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--B1);
}
    .right-box .educ .intro2{
        width: 75%;
        height: 75%;
        background-color: var(--B2);
        border-radius: 2.5rem;
        border: 5px solid black;
    }
    .right-box .educ .intro2 >p1{
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
        font-weight: bolder;
        font-size: 3rem;
        position: relative;
        top:5%;
        left:5%;
    }
    .right-box .educ .intro2 .info2{
        width: 75%;
        position: relative;
        top:10%;
        left:15%;
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
    }
    .right-box .educ .intro2 .info2 ul{
        list-style-type: none;
    }
    .right-box .educ .intro2 .info2 #level >li{
        font-weight: bold;
        font-size: 2.5rem;
        padding-bottom:1rem;
    }
    .right-box .educ .intro2 .info2 #level #school{
        text-indent: 3rem;
        padding-bottom:2rem;
        font-size: 2rem;
    }
.right-box .about{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--B1);
}
    .right-box .about .intro3{
        width: 75%;
        height: 75%;
        background-color: var(--B2);
        border-radius: 2.5rem;
        border: 5px solid black;
    }
    .right-box .about .intro3 >p1{
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
        font-weight: bolder;
        font-size: 3rem;
        position: relative;
        top:5%;
        left:5%;
    }
    .right-box .about .intro3 .content{
        width: 80%;
        position: relative;
        top:15%;
        left:10%;
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
    }
    .right-box .about .intro3 .content p{
        font-size: 3rem;
        text-align: justify;
    }
.right-box .prog{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--B1);
}
    .right-box .prog .intro4{
        width: 75%;
        height: 50%;
        background-color: var(--B2);
        border-radius: 2.5rem;
        border: 5px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right-box .prog .intro4 H1{
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
        font-weight: bolder;
        font-size: 3rem;
    }
.right-box .footer{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--B3);
}
    .right-box .footer .soc{
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .right-box .footer .soc p{
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
        font-weight: bolder;
        font-size: 2.5rem;
        text-indent: 2rem;
    }
    .right-box .footer .soc .soc-med{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .right-box .footer .soc .soc-med a{
        font-size: 30px;
        width: 30px;
        height: 30px;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        border-radius: 5rem;
    }
        .fa-facebook {
            background: #3B5998;
            color: white;
            transition: 0.5s;
        }
        .fa-linkedin {
            background: #007bb5;
            color: white;
            transition: 0.5s;
        }
        .fa-github {
            background: #363636;
            color: white;
            transition: 0.5s;
        }
        .fa-facebook:hover{
            background:white;
            color:  #3B5998;
            transition: 0.5s;
        }
        .fa-linkedin:hover {
            background: white;
            color: #007bb5;
            transition: 0.5s;
        }
        .fa-github:hover {
            background: white;
            color: #363636;
            transition: 0.5s;
        }
    .right-box .footer >p{
        color: var(--Y);
        text-shadow: 0px 3px 0px #000000;
        font-size: 1.5rem;
        position: relative;
        right: 5%;
        bottom:5%;
    }

    ::-webkit-scrollbar {
        width: 25px;
    }
      /* Track */
    ::-webkit-scrollbar-track {
        background: var(--B1); 
    }
      /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--B2); 
    }
      /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--Y); 
    }
